<% if !widget.is_valid? && !scrivito_in_editable_view? %>
  <%= render template: "shared/expired" %>
<% else %>
  <%= scrivito_tag(:h3, widget, :title) %>
  <div>
    <%= scrivito_tag(:p, widget, :body) %>
  </div>
<% end %>
